APP_NAME="Tom Herrmann - Gummibeer"
APP_ENV="production"
APP_DEBUG=false
APP_KEY=
APP_URL="https://gummibeer.dev"
ASSET_URL="https://gummibeer.dev"

LOG_CHANNEL="daily"
QUEUE_CONNECTION="sync"
SESSION_DRIVER="file"

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
