/node_modules/
/public/hot
/public/build/
/public/storage/
/storage/*.key
/vendor/
/users/local@gummibeer.dev.yaml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.phpstorm.meta.php
_ide_helper.php
.npmrc
.phpstan
