parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:date\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/GenerateOgImages.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/GenerateOgImages.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:value\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Console/Commands/GenerateOgImages.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/GenerateOgImages.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/StatsCategory.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/StatsCategory.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/StatsCategory.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:title\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/StatsCategory.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Console/Commands/StatsCategory.php

		-
			message: '#^Method App\\Console\\Commands\\StatsStrava\:\:handle\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Console/Commands/StatsStrava.php

		-
			message: '#^Property App\\Console\\Kernel\:\:\$commands type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Console/Kernel.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Blog/Author/FeedController.php

		-
			message: '#^Method App\\Http\\Controllers\\Blog\\Author\\FeedController\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Blog/Author/FeedController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Blog/Author/IndexController.php

		-
			message: '#^Method App\\Http\\Controllers\\Blog\\Author\\IndexController\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Blog/Author/IndexController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Blog/Category/FeedController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Blog/Category/FeedController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:title\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Blog/Category/FeedController.php

		-
			message: '#^Method App\\Http\\Controllers\\Blog\\Category\\FeedController\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Blog/Category/FeedController.php

		-
			message: '#^Parameter \#1 \$boolean of function abort_unless expects bool, Statamic\\Contracts\\Taxonomies\\Term\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Blog/Category/FeedController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Blog/Category/IndexController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Blog/Category/IndexController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Blog/Category/IndexController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:title\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Blog/Category/IndexController.php

		-
			message: '#^Method App\\Http\\Controllers\\Blog\\Category\\IndexController\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Blog/Category/IndexController.php

		-
			message: '#^Parameter \#1 \$boolean of function abort_unless expects bool, Statamic\\Contracts\\Taxonomies\\Term\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Blog/Category/IndexController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Blog/FeedController.php

		-
			message: '#^Method App\\Http\\Controllers\\Blog\\FeedController\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Blog/FeedController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Blog/IndexController.php

		-
			message: '#^Method App\\Http\\Controllers\\Blog\\IndexController\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Blog/IndexController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Blog/PostController.php

		-
			message: '#^Method App\\Http\\Controllers\\Blog\\PostController\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Blog/PostController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Blog/Year/IndexController.php

		-
			message: '#^Method App\\Http\\Controllers\\Blog\\Year\\IndexController\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Blog/Year/IndexController.php

		-
			message: '#^Parameter \#2 \$value of method Illuminate\\Routing\\Route\:\:setParameter\(\) expects object\|string\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Middleware/Paginated.php

		-
			message: '#^PHPDoc tag @mixin contains generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Macros/CollectionMixin.php

		-
			message: '#^Parameter \#1 \$items of static method App\\Services\\Paginator\:\:make\(\) expects Illuminate\\Support\\Collection, \$this\(App\\Macros\\CollectionMixin\) given\.$#'
			identifier: argument.type
			count: 1
			path: app/Macros/CollectionMixin.php

		-
			message: '#^Anonymous function should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: app/Macros/StrMixin.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:date\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:value\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Class League\\CommonMark\\Node\\Block\\FencedCode not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Class League\\CommonMark\\Node\\Inline\\Image not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^PHPDoc tag @var for variable \$class has invalid type Illuminate\\Support\\Traits\\Macroable\.$#'
			identifier: varTag.trait
			count: 1
			path: app/Providers/MacroServiceProvider.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Support\\Traits\\Macroable is not subtype of native type ''Illuminate\\\\Support\\\\Collection''\|''Illuminate\\\\Support\\\\Str''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: app/Providers/MacroServiceProvider.php

		-
			message: '#^Call to an undefined method Spatie\\Feed\\FeedItem\:\:author\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Services/Feed.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:date\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: app/Services/Feed.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/Feed.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:value\(\)\.$#'
			identifier: method.notFound
			count: 11
			path: app/Services/Feed.php

		-
			message: '#^Method App\\Services\\Feed\:\:make\(\) has parameter \$items with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Services/Feed.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Services/Feed.php

		-
			message: '#^Call to method getInfoWords\(\) on an unknown class League\\CommonMark\\Node\\Block\\FencedCode\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/FencedCodeRenderer.php

		-
			message: '#^Call to method getLiteral\(\) on an unknown class League\\CommonMark\\Node\\Block\\FencedCode\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/FencedCodeRenderer.php

		-
			message: '#^Class League\\CommonMark\\Node\\Block\\FencedCode not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/FencedCodeRenderer.php

		-
			message: '#^Call to method children\(\) on an unknown class League\\CommonMark\\Node\\Inline\\Image\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/ImageRenderer.php

		-
			message: '#^Call to method getUrl\(\) on an unknown class League\\CommonMark\\Node\\Inline\\Image\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/ImageRenderer.php

		-
			message: '#^Cannot call method with\(\) on Closure\|Illuminate\\Contracts\\Support\\Htmlable\|Illuminate\\Contracts\\View\\View\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/ImageRenderer.php

		-
			message: '#^Class League\\CommonMark\\Node\\Inline\\Image not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/ImageRenderer.php

		-
			message: '#^Class App\\Services\\MetaBag extends generic class Illuminate\\Support\\Fluent but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Services/MetaBag.php

		-
			message: '#^Class App\\Services\\Paginator extends generic class Illuminate\\Pagination\\LengthAwarePaginator but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Services/Paginator.php

		-
			message: '#^Method App\\Services\\Paginator\:\:make\(\) has parameter \$items with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Services/Paginator.php

		-
			message: '#^Method App\\Services\\Paginator\:\:make\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/Paginator.php

		-
			message: '#^Method App\\Services\\Paginator\:\:withRoute\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/Paginator.php

		-
			message: '#^Property App\\Services\\Paginator\:\:\$route type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/Paginator.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Services/Paginator.php

		-
			message: '#^Call to method next\(\) on an unknown class League\\CommonMark\\Node\\Inline\\Image\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/ParagraphRenderer.php

		-
			message: '#^Class League\\CommonMark\\Node\\Inline\\Image not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/ParagraphRenderer.php

		-
			message: '#^Method App\\View\\Components\\Img\:\:getParams\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/View/Components/Img.php

		-
			message: '#^Method App\\View\\Components\\Img\:\:srcSet\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/View/Components/Img.php

		-
			message: '#^Property App\\View\\Components\\Img\:\:\$params type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/View/Components/Img.php

		-
			message: '#^Call to an undefined method Astrotomic\\ConditionalProxy\\ConditionalProxy\|Astrotomic\\OpenGraph\\Types\\Twitter\\SummaryLargeImage\:\:description\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/View/Components/Og/Article.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:date\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/View/Components/Og/Article.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:path\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/View/Components/Og/Article.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/View/Components/Og/Article.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:value\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/View/Components/Og/Article.php

		-
			message: '#^Parameter \#1 \$timestamp of static method Carbon\\Carbon\:\:createFromTimestampUTC\(\) expects float\|int\|string, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: app/View/Components/Og/Article.php

		-
			message: '#^Call to an undefined method Astrotomic\\ConditionalProxy\\ConditionalProxy\|Astrotomic\\OpenGraph\\Types\\Twitter\\SummaryLargeImage\:\:description\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/View/Components/Og/Profile.php

		-
			message: '#^Call to an undefined method Astrotomic\\ConditionalProxy\\ConditionalProxy\|Astrotomic\\OpenGraph\\Types\\Twitter\\SummaryLargeImage\:\:description\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/View/Components/Og/Website.php

		-
			message: '#^Property App\\View\\Components\\Post\\Webmentions\:\:\$comments with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/View/Components/Post/Webmentions.php

		-
			message: '#^Property App\\View\\Components\\Post\\Webmentions\:\:\$likes with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/View/Components/Post/Webmentions.php

		-
			message: '#^Property App\\View\\Components\\Post\\Webmentions\:\:\$reposts with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/View/Components/Post/Webmentions.php
